<div class="games-new">
  <h1>Select Players</h1>
  <hr>
  <div class="row player-grid">
    {{#each player in controller}}
      <div class="player-item col-xs-6 col-sm-3">
        <a {{action 'toggleSelected' controller}} {{bind-attr class="isSelected:selected"}}>
          <div class="img-wrapper">
    	    <img {{bind-attr src="player.profile_image_url"}}>
          <div class="points-balance">{{player.st_points_balance}} Points</div>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
  <hr>
  <div class="actions">
    <p>Games cost 10 points per player</p>
    {{#if canSave}}
      {{#if saving}}
        <a {{action 'save'}} {{bind-attr class=":disabled :btn :btn-primary :btn-lg"}}>Starting Game..</a>
      {{else}}
        <a {{action 'save'}} {{bind-attr class=":btn :btn-primary :btn-lg"}}>Start Game</a>
      {{/if}}
    {{else}}
      <a {{action 'save'}} {{bind-attr class=":disabled :btn :btn-primary :btn-lg"}}>Select Players</a>
    {{/if}}
  </div>
</div>