<div class="game-page">
  <h1>{{player1.first_name}} vs {{player2.first_name}}!</h1>
  <hr>
  <div class="row player-grid">
    <div class="player-item col-xs-6 col-sm-4 col-sm-offset-2">
      <a {{action 'toggleSelected' 'player1Controller'}} {{bind-attr class="player1Controller.isSelected:selected"}}>
        <img {{bind-attr src="player1.profile_image_url"}}>
      </a>
    </div>
    <div class="player-item col-xs-6 col-sm-4">
      <a {{action 'toggleSelected' 'player2Controller'}} {{bind-attr class="player2Controller.isSelected:selected"}}>
        <img {{bind-attr src="player2.profile_image_url"}}>
      </a>
    </div>
  </div>
  <hr>
  <div class="actions">
    {{#if canFinish}}
      {{#if finishing}}
    	  <a {{action 'finish'}} {{bind-attr class=":disabled :btn :btn-primary :btn-lg"}}>Finishing Game..</a>
      {{else}}
        <a {{action 'finish'}} {{bind-attr class=":btn :btn-primary :btn-lg"}}>Finish Game</a>
      {{/if}}
    {{else}}
      <a {{action 'finish'}} {{bind-attr class=":disabled :btn :btn-primary :btn-lg"}}>Select Winner</a>
    {{/if}}
    <a {{action 'cancel'}} {{bind-attr class=":btn :btn-secondary :btn-lg"}}>Cancel</a>
  </div>
</div>
