<div class="home-page">
  <div class="jumbotron">
  	<h1>Welcome to Pong!</h1>
  	<p>The pong app Sweet Tooth deserves</p>
    {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}Start New Game{{/link-to}}
  </div>
  <div class="row game-history">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="list-group">
        {{#each game in controller}}
        <li class="list-group-item">
          <img {{bind-attr src="game.winningPlayer.profile_image_url"}}>
          <span class="points">+{{game.st_points_change}}</span>
          <div class="description">
            <p class="name">{{game.winningPlayer.first_name}} {{game.winningPlayer.last_name}}</p>
            <p>won a game against <strong>{{game.losingPlayer.first_name}}</strong></p>
          </div>
        </li>
        {{/each}}
      </ul>
  </div>
</div>
