<div class="home-page">
  <div class="welcome-wrapper">
    <div class="welcome">
      <h1>Welcome to Pong!</h1>
      {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}Start New Game{{/link-to}}
    </div>
  </div>
  <hr>
  {{!-- <div class="jumbotron">
  	<h1>Welcome to Pong!</h1>
  	<p>The pong app Sweet Tooth deserves</p>
    {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}Start New Game{{/link-to}}
  </div> --}}
  <div class="row game-history">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <ul class="list-group">
        <li class="list-group-item title">
          Recent Activity
        </li>
        {{#each game in completedGames}}
          <li class="list-group-item game">
            <img {{bind-attr src="game.winningPlayer.profile_image_url"}}>
            <span class="points">+{{game.st_points_change}}</span>
            <div class="description">
              <p class="name">{{game.winningPlayer.first_name}} {{game.winningPlayer.last_name}}</p>
              <p>won a game against <strong>{{game.losingPlayer.first_name}}</strong></p>
              <p class="when">{{fromNow game.created_at}}</p>
            </div>
          </li>
        {{/each}}
      </ul>
  </div>
</div>
